@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black text-white antialiased overflow-x-hidden;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1DB954;
}
